<div class="welcome" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
  <section>
    <mat-icon>search</mat-icon>
    <h2>CHOOSE</h2>
    <p>Pick your favorite recipe from a varied selection!</p>
  </section>
  <section>
    <mat-icon>calendar_today</mat-icon>
    <h2>PLAN</h2>
    <p>When are you gonna eat the selected recipe?</p>
  </section>
  <section>
    <mat-icon>fastfood</mat-icon>
    <h2>EAT</h2>
    <p>Enjoy eating always something different during the week!</p>
  </section>
</div>
